*{
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.user-image{
    width: 13%;
    border-radius: 50%;
    background-color: rgb(190, 190, 190);
    padding: 2%;
}

.notificacao-icon{
    flex-shrink: 0;
    padding: 1%;
    width: 10%;
}

.menu{
    display: flex;
    min-width: 0;
    list-style: none;
    width: 210px;
}
.menu li{
    width: 100%;
}
.menu li a{
    display: flex;
    flex-direction: row;
    color: black;
    padding: 8px;
    border-bottom: 1px solid rgb(185, 185, 185);
}
.drop-bnt{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.user-name{
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    width: 180px;
}

.dropdown-content{
    display: none;
    z-index: 4;
    width: 20%;
}
.menu:hover{
    .dropdown-content{
        justify-self: flex-end;
        display: block;
        position: absolute;
        background-color: rgb(240, 240, 240);
    }
}
i{
    width: 1rem;
    align-items: center;
}

@media(max-width: 1024px){
    section{
        border: 1px solid red;
    }
    .user-name{
        width: 130px;
    }
}

@media(max-width: 860px){
    section{
        border: 1px solid green; 
    }
    .user-name{
        width: 100px;
    }
}
@media(max-width: 740px){
    section{
        border: 1px solid pink; 
    }
    .menu{
        display: none;
    }
    .user-image{
        width: 50px;
    }

    .notificacao-icon{
        width: 100%;
    }
}