<section>
    <img src="user-display/notificacao-icon.png" alt="notificacao-icon" class="notificacao-icon">
    <img src="user-display/user-icon.png" alt="user-image" class="user-image"> 
    <ul class="menu">
        <li>
            <a href="#" class="drop-bnt">
                <span class="user-name">User aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>
                <i><nz-icon nzType="caret-down" nzTheme="outline" /></i>
            </a>
            <div class="dropdown-content">
                <a href="#">Configurações</a>
                <a href="#">Sair</a>
            </div>
        </li>
    </ul>
</section>
